body {
    background-color: rgb(64, 64, 64);
    display:flex;
    flex-direction: column;
    min-height: 95vh;    
}


.container {
    background-color: white;
    margin-top: 2ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
    flex-grow: 1;
}

.form-row {
    margin-bottom: 2ex;
}

.details-table th {
    padding-right: 2em;
}