<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">IMDB Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/actor_search_form">Actor Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movie_search_form">Movie Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_actor_form">Add an actor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_movie_form">Add a movie</a>
            </li>
          </ul>
        </div>
      </nav>
</th:block>