<html>
    <head>
        <div th:replace="~{fragments/head_content :: head(pageTitle='Details for ' + ${actor.getFullName()})}" th:remove="tag"></div> 
        <style>
            th {
                padding-right: 2em;
            }
        </style>       
    </head>

    <body>
        <div class="container">   
            <div th:replace="~{fragments/navbar :: navbar}"></div> 
            <h1>Details for <span th:text="${actor.getFullName()}"></span></h1>

            <table>
                <tbody>
                    <tr>
                        <th>First name</th>
                        <td th:text="${actor.getFirstName()}"></td>
                    </tr>

                    <tr th:if="${hasMiddleName}">
                        <th>Middle name</th>
                        <td th:text="${actor.getMiddleName()}"></td>
                    </tr>

                    <tr>
                        <th>Last name</th>
                        <td th:text="${actor.getLastName()}"></td>
                    </tr>

                    <tr th:if="${hasSuffix}">
                        <th>Suffix</th>
                        <td th:text="${actor.getSuffix()}"></td>
                    </tr>

                    <tr th:if="${actor.getBirthYear() > 0}">
                        <th>Born in</th>
                        <td th:text="${actor.getBirthYear()}"></td>
                    </tr>

                    <tr th:if="${actor.getDeathYear() > 0}">
                        <th>Died in</th>
                        <td th:text="${actor.getDeathYear()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>