<html>
    <head>
        <div th:replace="fragments/head_content :: head(pageTitle='Actor Search')" th:remove="tag"></div>
    </head>
    <body>
        <div class="container">
    
            <h2>Search for an actor</h2>
            <form class="form-horizontal" th:action="@{/actor_search}" th:object="${searchParameters}" method="post">
                <div class="form-row">
                    <div class="col-md-6 col-sm-12 ">
                        <input type="text" class="form-control" name="firstName"
                            placeholder="First name">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 col-sm-12 ">
                        <input type="text" class="form-control" name="lastName"
                            placeholder="Last name">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 col-sm-12 ">
                        <input type="number" class="form-control" name="birthYear"
                            placeholder="Birth year">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 col-sm-12 ">
                        <input type="number" class="form-control" name="deathYear"
                            placeholder="Death year">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 col-sm-12">
                        <input class="btn btn-primary" type="submit" value="Search">                                        
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
