<html>
    <head>
        <div th:replace="~{fragments/head_content :: head(pageTitle='Add an actor')}" th:remove="tag"></div>           
    </head>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/navbar :: navbar}"></div>
            <h1>Add an actor</h1>
            <form class="form-horizontal" method="post" th:action="@{/add_actor}" th:object="${actor}">
                <div class="form-group required">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control"
                            name="fullName" placeholder="Actor's full name">
                    </div>
                </div>
    
                <div class="form-group required">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control"
                            name="firstName" placeholder="First name">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" name="middleName"
                            placeholder="Middle name">
                    </div>
                </div>
    
                <div class="form-group required">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" name="lastName"
                            placeholder="Last Name">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" name="suffix"
                            placeholder="Suffix">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control" name="birthYear"
                            placeholder="Year born">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control" name="*{deathYear}"
                            placeholder="Year died">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-4 col-sm-12">
                        <input class="btn btn-dark" type="submit" value="Add">                                        
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>