<html>
    <head>
        <div th:replace="~{fragments/head_content :: head(pageTitle=${entityName} + ' added successfully')}" th:remove="tag"></div>
    </head>

    <body>
        <div class="container">   
            <div th:replace="~{fragments/navbar :: navbar}"></div>         
            <p>
                The <span th:text="${entityName}"></span> <em th:text="${instanceName}"></em> has been added successfully.
            </p>

            <p>What do you want to do?</p>
            <a class="btn btn-primary d-inline-block" href="add_actor_form">Actor</a>
            <a class="btn btn-primary d-inline-block" href="add_movie_form">Movie</a>
            <a class="btn btn-primary d-inline-block" href="/">Go back to the home page</a>

        </div>
    </body>
</html>